
{% extends "layout.html" %}

{% block body %}
<div class="row justify-content-center mt-4">
    <div class="col-lg-4">
        <h1 class="text-center">Administration panel</h1>
        <h2 class="text-center">Sign in</h2>
        <hr/>
        {% for error in errors %}
        <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
    
    <form method="post">
        <input class="form-control mt-1" placeholder="username" type="text" name="username" required>
        <input class="form-control mt-1" placeholder="password" type="password" name="password" required>
        <br/>
        <button class="btn btn-primary btn-block" type="submit">sign-in</button>
    </form>
    </div>
</div>
{% endblock body %}


